pandas
numpy
langchain-community
pypdf
python-dotenv
langchain_openai
langchain_huggingface
langchain_groq
streamlit
faiss-cpu
langchain_chroma
# pysqlite3-binary
chromadb
langchain
langchain-ollama
ipykernel